In [60]:
# Import modules
import pandas as pd
import logging

In [61]:
crash_data = "traffic_crashes.csv"
vehicle_crash_data = "traffic_crash_vehicle.csv"
passenger_crash_data = "traffic_crash_people.csv"

In [62]:
df_crashes = pd.read_csv(f'data/{crash_data}')
df_crashes.head()

,crash_record_id,rd_no,crash_date_est_i,crash_date,posted_speed_limit,traffic_control_device,device_condition,weather_condition,lighting_condition,first_crash_type,...,injuries_non_incapacitating,injuries_reported_not_evident,injuries_no_indication,injuries_unknown,crash_hour,crash_day_of_week,crash_month,latitude,longitude,location
0,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,NaN,2021-12-31T14:00:00.000,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,2.0,0.0,14,6,12,41.794850,-87.767280,POINT (-87.767280356289 41.794849958048)
1,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,NaN,2021-12-31T14:00:00.000,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,DUSK,TURNING,...,0.0,0.0,2.0,0.0,14,6,12,41.881271,-87.686536,POINT (-87.686535940171 41.881270504288)
2,444221c2a9bc82fc4f301062ab22b482d7d661cf88fcdf...,JE494016,Y,2021-12-31T13:56:00.000,10,OTHER,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,13,6,12,41.722941,-87.662863,POINT (-87.662862871273 41.72294121821)
3,4603435fbb4ef5d45c0d805c3e9aa5558a311a140a737e...,JE494049,NaN,2021-12-31T13:46:00.000,30,NO CONTROLS,NO CONTROLS,RAIN,DAYLIGHT,PEDALCYCLIST,...,1.0,0.0,2.0,0.0,13,6,12,41.766336,-87.578270,POINT (-87.578269718478 41.766335621716)
4,db62bb4534d0dae57112ea3ff8d50193784aaa732ed58d...,JE494000,NaN,2021-12-31T13:45:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,13,6,12,41.751150,-87.607802,POINT (-87.607802036151 41.7511501753)

In [63]:
df_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 49 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  dooring_i                      0 non-null      float64
 31  work_zone_i                    4 non-null      object
 32  work_zone_type                 3 non-null      object
 33  workers_present_i              1 non-null      object
 34  num_units                      1000 non-null   int64
 35  most_severe_injury             998 non-null    object
 36  injuries_total                 998 non-null    float64
 37  injuries_fatal                 998 non-null    float64
 38  injuries_incapacitating        998 non-null    float64
 39  injuries_non_incapacitating    998 non-null    float64
 40  injuries_reported_not_evident  998 non-null    float64
 41  injuries_no_indication         998 non-null    float64
 42  injuries_unknown               998 non-null    float64
 43  crash_hour                     1000 non-null   int64
 44  crash_day_of_week              1000 non-null   int64
 45  crash_month                    1000 non-null   int64
 46  latitude                       987 non-null    float64
 47  longitude                      987 non-null    float64
 48  location                       987 non-null    object
dtypes: float64(11), int64(7), object(31)
memory usage: 382.9+ KB

In [64]:
# Returns the number of missing values in each column
df_crashes.isnull().sum()

crash_record_id                     0
rd_no                               0
crash_date_est_i                  931
crash_date                          0
posted_speed_limit                  0
traffic_control_device              0
device_condition                    0
weather_condition                   0
lighting_condition                  0
first_crash_type                    0
trafficway_type                     0
lane_cnt                          999
alignment                           0
roadway_surface_cond                0
road_defect                         0
report_type                        24
crash_type                          0
intersection_related_i            729
private_property_i                955
hit_and_run_i                     680
damage                              0
date_police_notified                0
prim_contributory_cause             0
sec_contributory_cause              0
street_no                           0
street_direction                    0
street_name                         0
beat_of_occurrence                  0
photos_taken_i                    985
statements_taken_i                978
dooring_i                        1000
work_zone_i                       996
work_zone_type                    997
workers_present_i                 999
num_units                           0
most_severe_injury                  2
injuries_total                      2
injuries_fatal                      2
injuries_incapacitating             2
injuries_non_incapacitating         2
injuries_reported_not_evident       2
injuries_no_indication              2
injuries_unknown                    2
crash_hour                          0
crash_day_of_week                   0
crash_month                         0
latitude                           13
longitude                          13
location                           13
dtype: int64

In [65]:
# Removes columns where ALL values are null
# Modifies the DataFrame directly (inplace=True)
df_crashes.dropna(axis='columns', how='all', inplace=True)

In [66]:
df_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  work_zone_i                    4 non-null      object
 31  work_zone_type                 3 non-null      object
 32  workers_present_i              1 non-null      object
 33  num_units                      1000 non-null   int64
 34  most_severe_injury             998 non-null    object
 35  injuries_total                 998 non-null    float64
 36  injuries_fatal                 998 non-null    float64
 37  injuries_incapacitating        998 non-null    float64
 38  injuries_non_incapacitating    998 non-null    float64
 39  injuries_reported_not_evident  998 non-null    float64
 40  injuries_no_indication         998 non-null    float64
 41  injuries_unknown               998 non-null    float64
 42  crash_hour                     1000 non-null   int64
 43  crash_day_of_week              1000 non-null   int64
 44  crash_month                    1000 non-null   int64
 45  latitude                       987 non-null    float64
 46  longitude                      987 non-null    float64
 47  location                       987 non-null    object
dtypes: float64(10), int64(7), object(31)
memory usage: 375.1+ KB

In [67]:
# Keeps rows that have at least 2 non-null values
# Returns a new DataFrame with the changes (inplace=False)
df_crashes = df_crashes.dropna(axis='index', thresh=2, inplace=False)

In [68]:
df_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  work_zone_i                    4 non-null      object
 31  work_zone_type                 3 non-null      object
 32  workers_present_i              1 non-null      object
 33  num_units                      1000 non-null   int64
 34  most_severe_injury             998 non-null    object
 35  injuries_total                 998 non-null    float64
 36  injuries_fatal                 998 non-null    float64
 37  injuries_incapacitating        998 non-null    float64
 38  injuries_non_incapacitating    998 non-null    float64
 39  injuries_reported_not_evident  998 non-null    float64
 40  injuries_no_indication         998 non-null    float64
 41  injuries_unknown               998 non-null    float64
 42  crash_hour                     1000 non-null   int64
 43  crash_day_of_week              1000 non-null   int64
 44  crash_month                    1000 non-null   int64
 45  latitude                       987 non-null    float64
 46  longitude                      987 non-null    float64
 47  location                       987 non-null    object
dtypes: float64(10), int64(7), object(31)
memory usage: 375.1+ KB

In [69]:
# remove rows with <2 values
under_thresh_removed = df_crashes.dropna(axis='index', thresh=2, inplace=False)
under_thresh_removed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  work_zone_i                    4 non-null      object
 31  work_zone_type                 3 non-null      object
 32  workers_present_i              1 non-null      object
 33  num_units                      1000 non-null   int64
 34  most_severe_injury             998 non-null    object
 35  injuries_total                 998 non-null    float64
 36  injuries_fatal                 998 non-null    float64
 37  injuries_incapacitating        998 non-null    float64
 38  injuries_non_incapacitating    998 non-null    float64
 39  injuries_reported_not_evident  998 non-null    float64
 40  injuries_no_indication         998 non-null    float64
 41  injuries_unknown               998 non-null    float64
 42  crash_hour                     1000 non-null   int64
 43  crash_day_of_week              1000 non-null   int64
 44  crash_month                    1000 non-null   int64
 45  latitude                       987 non-null    float64
 46  longitude                      987 non-null    float64
 47  location                       987 non-null    object
dtypes: float64(10), int64(7), object(31)
memory usage: 375.1+ KB

In [70]:
df_crashes['report_type'].unique()

array(['ON SCENE', 'NOT ON SCENE (DESK REPORT)', nan], dtype=object)

In [71]:
df_crashes['report_type'].value_counts(dropna=False)

report_type
NOT ON SCENE (DESK REPORT)    499
ON SCENE                      477
NaN                            24
Name: count, dtype: int64

In [72]:
df_crashes = df_crashes.fillna(value={'report_type': 'ON SCENE'})

In [73]:
df_crashes['report_type'].value_counts(dropna=False)

report_type
ON SCENE                      501
NOT ON SCENE (DESK REPORT)    499
Name: count, dtype: int64

In [75]:
df_vehicles = pd.read_csv(f'data/{vehicle_crash_data}')
df_vehicles.head()

,crash_unit_id,crash_record_id,rd_no,crash_date,unit_no,unit_type,num_passengers,vehicle_id,cmrc_veh_i,make,...,trailer1_length,trailer2_length,total_vehicle_length,axle_cnt,vehicle_config,cargo_body_type,load_type,hazmat_out_of_service_i,mcs_out_of_service_i,hazmat_class
0,1255349,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,1,DRIVER,NaN,1191605.0,NaN,DODGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1255350,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,2,DRIVER,NaN,1191608.0,NaN,KIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1255351,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,3,PARKED,NaN,1191614.0,NaN,CHRYSLER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1255367,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,2021-12-31T14:00:00.000,1,DRIVER,NaN,1191620.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1255368,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,2021-12-31T14:00:00.000,2,DRIVER,NaN,1191622.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 72 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   crash_unit_id             1000 non-null   int64
 1   crash_record_id           1000 non-null   object
 2   rd_no                     1000 non-null   object
 3   crash_date                1000 non-null   object
 4   unit_no                   1000 non-null   int64
 5   unit_type                 999 non-null    object
 6   num_passengers            151 non-null    float64
 7   vehicle_id                981 non-null    float64
 8   cmrc_veh_i                16 non-null     object
 9   make                      981 non-null    object
 10  model                     981 non-null    object
 11  lic_plate_state           881 non-null    object
 12  vehicle_year              834 non-null    float64
 13  vehicle_defect            981 non-null    object
 14  vehicle_type              981 non-null    object
 15  vehicle_use               981 non-null    object
 16  travel_direction          981 non-null    object
 17  maneuver                  981 non-null    object
 18  towed_i                   195 non-null    object
 19  fire_i                    3 non-null      object
 20  occupant_cnt              981 non-null    float64
 21  exceed_speed_limit_i      0 non-null      float64
 22  towed_by                  150 non-null    object
 23  towed_to                  98 non-null     object
 24  area_00_i                 16 non-null     object
 25  area_01_i                 332 non-null    object
 26  area_02_i                 157 non-null    object
 27  area_03_i                 98 non-null     object
 28  area_04_i                 91 non-null     object
 29  area_05_i                 151 non-null    object
 30  area_06_i                 166 non-null    object
 31  area_07_i                 186 non-null    object
 32  area_08_i                 118 non-null    object
 33  area_09_i                 120 non-null    object
 34  area_10_i                 155 non-null    object
 35  area_11_i                 345 non-null    object
 36  area_12_i                 327 non-null    object
 37  area_99_i                 104 non-null    object
 38  first_contact_point       963 non-null    object
 39  cmv_id                    11 non-null     float64
 40  usdot_no                  6 non-null      float64
 41  ccmc_no                   1 non-null      float64
 42  ilcc_no                   1 non-null      float64
 43  commercial_src            6 non-null      object
 44  gvwr                      6 non-null      float64
 45  carrier_name              11 non-null     object
 46  carrier_state             11 non-null     object
 47  carrier_city              10 non-null     object
 48  hazmat_placards_i         1 non-null      object
 49  hazmat_name               0 non-null      float64
 50  un_no                     0 non-null      float64
 51  hazmat_present_i          7 non-null      object
 52  hazmat_report_i           7 non-null      object
 53  hazmat_report_no          0 non-null      float64
 54  mcs_report_i              7 non-null      object
 55  mcs_report_no             0 non-null      float64
 56  hazmat_vio_cause_crash_i  7 non-null      object
 57  mcs_vio_cause_crash_i     7 non-null      object
 58  idot_permit_no            1 non-null      float64
 59  wide_load_i               0 non-null      float64
 60  trailer1_width            0 non-null      float64
 61  trailer2_width            0 non-null      float64
 62  trailer1_length           0 non-null      float64
 63  trailer2_length           0 non-null      float64
 64  total_vehicle_length      0 non-null      float64
 65  axle_cnt                  0 non-null      float64
 66  vehicle_config            11 non-null     object
 67  cargo_body_type           10 non-null     object
 68  load_type                 8 non-null      object
 69  hazmat_out_of_service_i   6 non-null      object
 70  mcs_out_of_service_i      7 non-null      object
 71  hazmat_class              0 non-null      float64
dtypes: float64(23), int64(2), object(47)
memory usage: 562.6+ KB

In [77]:
df_vehicles.isnull().sum()

crash_unit_id                 0
crash_record_id               0
rd_no                         0
crash_date                    0
unit_no                       0
                           ...
cargo_body_type             990
load_type                   992
hazmat_out_of_service_i     994
mcs_out_of_service_i        993
hazmat_class               1000
Length: 72, dtype: int64

In [ ]:
# A left merge - df_crashes is the left table, df_vehicles is the right table, crash_record_id is the joining index
df = df_crashes.merge(right = df_vehicles, how = 'left', on = 'crash_record_id', suffixes = ('_left', '_right'))
df.head()

In [ ]:
df_agg = df.groupby('vehicle_type').agg({'crash_record_id':'count'}).reset_index()
df_agg

In [ ]:
type(df_agg)

In [ ]:
number_of_passenger_cars_involved = df_agg[df_agg['vehicle_type'] == 'PASSENGER']['crash_record_id'].array[0]
number_of_passenger_cars_involved

In [ ]:
type(number_of_passenger_cars_involved)

In [58]:
def get_transformed_data(crash_data, vehicle_crash_data):

    # import data
    df_crashes = pd.read_csv(f"data/{crash_data}")
    df_vehicles = pd.read_csv(f"data/{vehicle_crash_data}")

    # drop columns where ALL values are null
    # modifies the dataframe directly (inplace=True)
    df_crashes.dropna(axis='columns', how='all', inplace=True)
    # drop rows with <2 non-null values
    df_crashes.dropna(axis='index', thresh=2, inplace=True)

    # fill missing values in the report_type column
    df_crashes.fillna(value={'report_type': 'ON SCENE'}, inplace=True)

    # merge crashes and vehicles data
    df = df_crashes.merge(right=df_vehicles, how='left', on='crash_record_id', suffixes=('_left', '_right'))
    df_agg = df.groupby('vehicle_type').agg({'crash_record_id': 'count'}).reset_index()

    # transform column names for output data
    vehicle_mapping = {'vehicle_type': 'vehicletypes'}
    df_agg = df_agg.rename(columns=vehicle_mapping)

    return df

In [59]:
get_transformed_data(crash_data, vehicle_crash_data)

,crash_record_id,rd_no_left,crash_date_est_i,crash_date_left,posted_speed_limit,traffic_control_device,device_condition,weather_condition,lighting_condition,first_crash_type,...,trailer1_length,trailer2_length,total_vehicle_length,axle_cnt,vehicle_config,cargo_body_type,load_type,hazmat_out_of_service_i,mcs_out_of_service_i,hazmat_class
0,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,NaN,2021-12-31T14:00:00.000,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,NaN,2021-12-31T14:00:00.000,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,NaN,2021-12-31T14:00:00.000,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,DUSK,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,NaN,2021-12-31T14:00:00.000,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,DUSK,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,NaN,2021-12-31T14:00:00.000,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,DUSK,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,e18f871e1a58bc6029bb06ebc2970f0a3daa26878da737...,JE490031,NaN,2021-12-27T03:00:00.000,30,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,3ba14e3e148a09331ede83eae1cd04ae8015c7d7317933...,JE489751,NaN,2021-12-27T02:43:00.000,30,NO CONTROLS,NO CONTROLS,RAIN,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,c279f1b96a29c26d65381deb667760cbd21955dbf15a3b...,JE489753,NaN,2021-12-27T02:35:00.000,30,NO CONTROLS,NO CONTROLS,RAIN,"DARKNESS, LIGHTED ROAD",HEAD ON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,c2920855959a0363eb73fe97e691c33d7d4a1282e5ca3c...,JE489738,NaN,2021-12-27T02:05:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,"DARKNESS, LIGHTED ROAD",TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1509,db91a08a8886d5d698a6323ab86cf13f417601e3a34410...,JE489956,N,2021-12-27T02:00:00.000,20,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Read data from the source
def read_data_sources(source_name):
    df = pd.read_csv(f"data/{source_name}")
    return df

In [23]:
# Drop columns where ALL values are null
def drop_null_columns(df):
    df.dropna(axis='columns', how='all', inplace=True)
    return df

In [24]:
# Drop rows with <2 non-null values
def drop_null_rows(df):
    df.dropna(axis='index', thresh=2, inplace=True)
    return df

In [25]:
# Fill missing values in the report_type column
def fill_missing_report_type(df):
    df.fillna(value={'report_type': 'ON SCENE'}, inplace=True)
    return df

In [26]:
# Merge crashes and vehicles data
def merge_data(df_crashes, df_vehicles):
    df = df_crashes.merge(right=df_vehicles, how='left', on='crash_record_id', suffixes=('_left', '_right'))
    return df

In [27]:
# Rename columns for output data
def rename_columns(df):
    vehicle_mapping = {'vehicle_type': 'vehicletypes'}
    df = df.rename(columns=vehicle_mapping)
    return df

In [28]:
def read_data_pipeline(crash_data, vehicle_crash_data):
    try:
        df_crash = read_data_sources(crash_data)
        df_vehicle = read_data_sources(vehicle_crash_data)
    except Exception as e:
        logging.info("Exception in reading data pipeline")
    
    return df_crash, df_vehicle

In [37]:
def drop_null_cols_pipeline(df_crash, df_vehicle):
    try:
        drop_null_columns(df_crash)
        drop_null_columns(df_vehicle)
    except Exception as e:
        logging.info("Exception in dropping null columns pipeline")
        
    return df_crash, df_vehicle

In [40]:
def drop_null_rows_pipeline(df_crash, df_vehicle):
    try:
        drop_null_rows(df_crash)
        drop_null_rows(df_vehicle)
    except Exception as e:
        logging.info("Exception in dropping null rows pipeline")
        
    return df_crash, df_vehicle

In [47]:
def fill_missing_values_pipeline(df_crash, df_vehicle):
    try:
        df_crash = fill_missing_report_type(df_crash)
        df_vehicle = fill_missing_report_type(df_vehicle)
    except Exception as e:
        logging.info("Exception in filling missing report type pipeline")
        
    return df_crash, df_vehicle

In [51]:
def merge_data_pipeline(df_crash, df_vehicle):
    try:
        df_merged = merge_data(df_crash, df_vehicle)
    except Exception as e:
        logging.info("Exception in merge data pipeline")
        
    return df_merged

In [14]:
def format_data_pipeline(df_merged):
    try:
        df_output = rename_columns(df_merged)
    except Exception as e:
        logging.info("Exception in renaming data column pipeline")
        
    return df_output

In [17]:
def get_transformed_data(crash_data, vehicle_crash_data):

    # Read data pipeline
    df_crash, df_vehicle = read_data_pipeline(crash_data, vehicle_crash_data)

    # Drop null columns
    df_crash, df_vehicle = drop_null_cols_pipeline(df_crash, df_vehicle)

    # Drop null rows
    df_crash, df_vehicle = drop_null_rows_pipeline(df_crash, df_vehicle)

    # Fill in missing values
    df_crash, df_vehicle = fill_missing_values_pipeline(df_crash, df_vehicle)

    # Merge data
    df_merged = merge_data_pipeline(df_crash, df_vehicle)

    # Format for output
    df_output = format_data_pipeline(df_merged)

    return df_output.info()

In [18]:
get_transformed_data(crash_data, vehicle_crash_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1510 entries, 0 to 1509
Columns: 106 entries, crash_record_id to mcs_out_of_service_i
dtypes: float64(22), int64(7), object(77)
memory usage: 1.2+ MB