In [1]:
# Import modules
import pandas as pd
import logging

In [2]:
crash_data = "traffic_crashes.csv"
vehicle_crash_data = "traffic_crash_vehicle.csv"
passenger_crash_data = "traffic_crash_people.csv"

In [12]:
df_crashes = pd.read_csv(f'data/{crash_data}')
df_crashes.head()

,crash_record_id,rd_no,crash_date_est_i,crash_date,posted_speed_limit,traffic_control_device,device_condition,weather_condition,lighting_condition,first_crash_type,...,injuries_non_incapacitating,injuries_reported_not_evident,injuries_no_indication,injuries_unknown,crash_hour,crash_day_of_week,crash_month,latitude,longitude,location
0,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,NaN,2021-12-31T14:00:00.000,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,2.0,0.0,14,6,12,41.794850,-87.767280,POINT (-87.767280356289 41.794849958048)
1,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,NaN,2021-12-31T14:00:00.000,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,DUSK,TURNING,...,0.0,0.0,2.0,0.0,14,6,12,41.881271,-87.686536,POINT (-87.686535940171 41.881270504288)
2,444221c2a9bc82fc4f301062ab22b482d7d661cf88fcdf...,JE494016,Y,2021-12-31T13:56:00.000,10,OTHER,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,13,6,12,41.722941,-87.662863,POINT (-87.662862871273 41.72294121821)
3,4603435fbb4ef5d45c0d805c3e9aa5558a311a140a737e...,JE494049,NaN,2021-12-31T13:46:00.000,30,NO CONTROLS,NO CONTROLS,RAIN,DAYLIGHT,PEDALCYCLIST,...,1.0,0.0,2.0,0.0,13,6,12,41.766336,-87.578270,POINT (-87.578269718478 41.766335621716)
4,db62bb4534d0dae57112ea3ff8d50193784aaa732ed58d...,JE494000,NaN,2021-12-31T13:45:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,13,6,12,41.751150,-87.607802,POINT (-87.607802036151 41.7511501753)

In [13]:
df_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 49 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  dooring_i                      0 non-null      float64
 31  work_zone_i                    4 non-null      object
 32  work_zone_type                 3 non-null      object
 33  workers_present_i              1 non-null      object
 34  num_units                      1000 non-null   int64
 35  most_severe_injury             998 non-null    object
 36  injuries_total                 998 non-null    float64
 37  injuries_fatal                 998 non-null    float64
 38  injuries_incapacitating        998 non-null    float64
 39  injuries_non_incapacitating    998 non-null    float64
 40  injuries_reported_not_evident  998 non-null    float64
 41  injuries_no_indication         998 non-null    float64
 42  injuries_unknown               998 non-null    float64
 43  crash_hour                     1000 non-null   int64
 44  crash_day_of_week              1000 non-null   int64
 45  crash_month                    1000 non-null   int64
 46  latitude                       987 non-null    float64
 47  longitude                      987 non-null    float64
 48  location                       987 non-null    object
dtypes: float64(11), int64(7), object(31)
memory usage: 382.9+ KB

In [16]:
# Returns the number of missing values in each column
df_crashes.isnull().sum()

crash_record_id                     0
rd_no                               0
crash_date_est_i                  931
crash_date                          0
posted_speed_limit                  0
traffic_control_device              0
device_condition                    0
weather_condition                   0
lighting_condition                  0
first_crash_type                    0
trafficway_type                     0
lane_cnt                          999
alignment                           0
roadway_surface_cond                0
road_defect                         0
report_type                        24
crash_type                          0
intersection_related_i            729
private_property_i                955
hit_and_run_i                     680
damage                              0
date_police_notified                0
prim_contributory_cause             0
sec_contributory_cause              0
street_no                           0
street_direction                    0
street_name                         0
beat_of_occurrence                  0
photos_taken_i                    985
statements_taken_i                978
dooring_i                        1000
work_zone_i                       996
work_zone_type                    997
workers_present_i                 999
num_units                           0
most_severe_injury                  2
injuries_total                      2
injuries_fatal                      2
injuries_incapacitating             2
injuries_non_incapacitating         2
injuries_reported_not_evident       2
injuries_no_indication              2
injuries_unknown                    2
crash_hour                          0
crash_day_of_week                   0
crash_month                         0
latitude                           13
longitude                          13
location                           13
dtype: int64

In [17]:
# Removes columns where ALL values are null
# Modifies the DataFrame directly (inplace=True)
df_crashes.dropna(axis='columns', how='all', inplace=True)

In [18]:
df_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  work_zone_i                    4 non-null      object
 31  work_zone_type                 3 non-null      object
 32  workers_present_i              1 non-null      object
 33  num_units                      1000 non-null   int64
 34  most_severe_injury             998 non-null    object
 35  injuries_total                 998 non-null    float64
 36  injuries_fatal                 998 non-null    float64
 37  injuries_incapacitating        998 non-null    float64
 38  injuries_non_incapacitating    998 non-null    float64
 39  injuries_reported_not_evident  998 non-null    float64
 40  injuries_no_indication         998 non-null    float64
 41  injuries_unknown               998 non-null    float64
 42  crash_hour                     1000 non-null   int64
 43  crash_day_of_week              1000 non-null   int64
 44  crash_month                    1000 non-null   int64
 45  latitude                       987 non-null    float64
 46  longitude                      987 non-null    float64
 47  location                       987 non-null    object
dtypes: float64(10), int64(7), object(31)
memory usage: 375.1+ KB

In [14]:
# Keeps rows that have at least 2 non-null values
# Returns a new DataFrame with the changes (inplace=False)
df_crashes = df_crashes.dropna(axis='index', thresh=2, inplace=False)

In [15]:
df_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 49 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  dooring_i                      0 non-null      float64
 31  work_zone_i                    4 non-null      object
 32  work_zone_type                 3 non-null      object
 33  workers_present_i              1 non-null      object
 34  num_units                      1000 non-null   int64
 35  most_severe_injury             998 non-null    object
 36  injuries_total                 998 non-null    float64
 37  injuries_fatal                 998 non-null    float64
 38  injuries_incapacitating        998 non-null    float64
 39  injuries_non_incapacitating    998 non-null    float64
 40  injuries_reported_not_evident  998 non-null    float64
 41  injuries_no_indication         998 non-null    float64
 42  injuries_unknown               998 non-null    float64
 43  crash_hour                     1000 non-null   int64
 44  crash_day_of_week              1000 non-null   int64
 45  crash_month                    1000 non-null   int64
 46  latitude                       987 non-null    float64
 47  longitude                      987 non-null    float64
 48  location                       987 non-null    object
dtypes: float64(11), int64(7), object(31)
memory usage: 382.9+ KB

In [20]:
# remove rows with <2 values
under_thresh_removed = df_crashes.dropna(axis='index', thresh=2, inplace=False)
under_thresh_removed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    976 non-null    object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  work_zone_i                    4 non-null      object
 31  work_zone_type                 3 non-null      object
 32  workers_present_i              1 non-null      object
 33  num_units                      1000 non-null   int64
 34  most_severe_injury             998 non-null    object
 35  injuries_total                 998 non-null    float64
 36  injuries_fatal                 998 non-null    float64
 37  injuries_incapacitating        998 non-null    float64
 38  injuries_non_incapacitating    998 non-null    float64
 39  injuries_reported_not_evident  998 non-null    float64
 40  injuries_no_indication         998 non-null    float64
 41  injuries_unknown               998 non-null    float64
 42  crash_hour                     1000 non-null   int64
 43  crash_day_of_week              1000 non-null   int64
 44  crash_month                    1000 non-null   int64
 45  latitude                       987 non-null    float64
 46  longitude                      987 non-null    float64
 47  location                       987 non-null    object
dtypes: float64(10), int64(7), object(31)
memory usage: 375.1+ KB

In [22]:
# save removed rows
under_thresh_rows = df_crashes[~df_crashes.index.isin(under_thresh_removed.index)]
under_thresh_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                0 non-null      object
 1   rd_no                          0 non-null      object
 2   crash_date_est_i               0 non-null      object
 3   crash_date                     0 non-null      object
 4   posted_speed_limit             0 non-null      int64
 5   traffic_control_device         0 non-null      object
 6   device_condition               0 non-null      object
 7   weather_condition              0 non-null      object
 8   lighting_condition             0 non-null      object
 9   first_crash_type               0 non-null      object
 10  trafficway_type                0 non-null      object
 11  lane_cnt                       0 non-null      float64
 12  alignment                      0 non-null      object
 13  roadway_surface_cond           0 non-null      object
 14  road_defect                    0 non-null      object
 15  report_type                    0 non-null      object
 16  crash_type                     0 non-null      object
 17  intersection_related_i         0 non-null      object
 18  private_property_i             0 non-null      object
 19  hit_and_run_i                  0 non-null      object
 20  damage                         0 non-null      object
 21  date_police_notified           0 non-null      object
 22  prim_contributory_cause        0 non-null      object
 23  sec_contributory_cause         0 non-null      object
 24  street_no                      0 non-null      int64
 25  street_direction               0 non-null      object
 26  street_name                    0 non-null      object
 27  beat_of_occurrence             0 non-null      int64
 28  photos_taken_i                 0 non-null      object
 29  statements_taken_i             0 non-null      object
 30  work_zone_i                    0 non-null      object
 31  work_zone_type                 0 non-null      object
 32  workers_present_i              0 non-null      object
 33  num_units                      0 non-null      int64
 34  most_severe_injury             0 non-null      object
 35  injuries_total                 0 non-null      float64
 36  injuries_fatal                 0 non-null      float64
 37  injuries_incapacitating        0 non-null      float64
 38  injuries_non_incapacitating    0 non-null      float64
 39  injuries_reported_not_evident  0 non-null      float64
 40  injuries_no_indication         0 non-null      float64
 41  injuries_unknown               0 non-null      float64
 42  crash_hour                     0 non-null      int64
 43  crash_day_of_week              0 non-null      int64
 44  crash_month                    0 non-null      int64
 45  latitude                       0 non-null      float64
 46  longitude                      0 non-null      float64
 47  location                       0 non-null      object
dtypes: float64(10), int64(7), object(31)
memory usage: 0.0+ bytes

In [ ]:
df_crashes['report_type'].unique()

In [ ]:
df_crashes['report_type'].value_counts(dropna=False)

In [ ]:
df_crashes = df_crashes.fillna(value={'report_type': 'ON SCENE'})

In [ ]:
df_crashes['report_type'].value_counts(dropna=False)

In [ ]:
df_crashes.head()

In [ ]:
df_vehicles = pd.read_csv(vehicle_crash_data)
df_vehicles.head()

In [ ]:
# A left merge - df_crashes is the left table, df_vehicles is the right table, crash_record_id is the joining index
df = df_crashes.merge(right = df_vehicles, how = 'left', on = 'crash_record_id', suffixes = ('_left', '_right'))
df.head()

In [ ]:
df_agg = df.groupby('vehicle_type').agg({'crash_record_id':'count'}).reset_index()
df_agg

In [ ]:
type(df_agg)

In [ ]:
number_of_passenger_cars_involved = df_agg[df_agg['vehicle_type'] == 'PASSENGER']['crash_record_id'].array[0]
number_of_passenger_cars_involved

In [ ]:
type(number_of_passenger_cars_involved)

In [ ]:
def get_transformed_data(crash_data, vehicle_crash_data):

    # import data
    df_crashes = pd.read_csv(f"data/{crash_data}")
    df_vehicles = pd.read_csv(f"data/{vehicle_crash_data}")

    # drop columns where ALL values are null
    # modifies the dataframe directly (inplace=True)
    df_crashes.dropna(axis='columns', how='all', inplace=True)
    # drop rows with <2 non-null values
    df_crashes.dropna(axis='index', thresh=2, inplace=True)

    # fill missing values in the report_type column
    df_crashes.fillna(value={'report_type': 'ON SCENE'}, inplace=True)

    # merge crashes and vehicles data
    df = df_crashes.merge(right=df_vehicles, how='left', on='crash_record_id', suffixes=('_left', '_right'))
    df_agg = df.groupby('vehicle_type').agg({'crash_record_id': 'count'}).reset_index()

    # transform column names for output data
    vehicle_mapping = {'vehicle_type': 'vehicletypes'}
    df_agg = df_agg.rename(columns=vehicle_mapping)

    return df_crashes.info()

In [10]:
get_transformed_data(crash_data, vehicle_crash_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 49 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   rd_no                          1000 non-null   object
 2   crash_date_est_i               69 non-null     object
 3   crash_date                     1000 non-null   object
 4   posted_speed_limit             1000 non-null   int64
 5   traffic_control_device         1000 non-null   object
 6   device_condition               1000 non-null   object
 7   weather_condition              1000 non-null   object
 8   lighting_condition             1000 non-null   object
 9   first_crash_type               1000 non-null   object
 10  trafficway_type                1000 non-null   object
 11  lane_cnt                       1 non-null      float64
 12  alignment                      1000 non-null   object
 13  roadway_surface_cond           1000 non-null   object
 14  road_defect                    1000 non-null   object
 15  report_type                    1000 non-null   object
 16  crash_type                     1000 non-null   object
 17  intersection_related_i         271 non-null    object
 18  private_property_i             45 non-null     object
 19  hit_and_run_i                  320 non-null    object
 20  damage                         1000 non-null   object
 21  date_police_notified           1000 non-null   object
 22  prim_contributory_cause        1000 non-null   object
 23  sec_contributory_cause         1000 non-null   object
 24  street_no                      1000 non-null   int64
 25  street_direction               1000 non-null   object
 26  street_name                    1000 non-null   object
 27  beat_of_occurrence             1000 non-null   int64
 28  photos_taken_i                 15 non-null     object
 29  statements_taken_i             22 non-null     object
 30  dooring_i                      0 non-null      float64
 31  work_zone_i                    4 non-null      object
 32  work_zone_type                 3 non-null      object
 33  workers_present_i              1 non-null      object
 34  num_units                      1000 non-null   int64
 35  most_severe_injury             998 non-null    object
 36  injuries_total                 998 non-null    float64
 37  injuries_fatal                 998 non-null    float64
 38  injuries_incapacitating        998 non-null    float64
 39  injuries_non_incapacitating    998 non-null    float64
 40  injuries_reported_not_evident  998 non-null    float64
 41  injuries_no_indication         998 non-null    float64
 42  injuries_unknown               998 non-null    float64
 43  crash_hour                     1000 non-null   int64
 44  crash_day_of_week              1000 non-null   int64
 45  crash_month                    1000 non-null   int64
 46  latitude                       987 non-null    float64
 47  longitude                      987 non-null    float64
 48  location                       987 non-null    object
dtypes: float64(11), int64(7), object(31)
memory usage: 382.9+ KB

(                      vehicletypes  crash_record_id
 0                BUS OVER 15 PASS.                5
 1       MOPED OR MOTORIZED BICYCLE                1
 2                            OTHER               20
 3       OTHER VEHICLE WITH TRAILER                1
 4                        PASSENGER              633
 5                           PICKUP               33
 6   SINGLE UNIT TRUCK WITH TRAILER                2
 7      SPORT UTILITY VEHICLE (SUV)              138
 8          TRACTOR W/ SEMI-TRAILER                5
 9         TRACTOR W/O SEMI-TRAILER                2
 10             TRUCK - SINGLE UNIT               14
 11                      UNKNOWN/NA               89
 12                    VAN/MINI-VAN               38,
 None)

In [ ]:
# Read data from the source
def read_data_sources(source_name):
    df = pd.read_csv(f"data/{source_name}")
    return df

In [ ]:
# Drop columns where ALL values are null
def drop_null_columns(df):
    df.dropna(axis='columns', how='all', inplace=True)
    return df

In [ ]:
# Drop rows with <2 non-null values
def drop_null_rows(df):
    df.dropna(axis='index', thresh=2, inplace=True)
    return df

In [ ]:
# Fill missing values in the report_type column
def fill_missing_report_type(df):
    df.fillna(value={'report_type': 'ON SCENE'}, inplace=True)
    return df

In [ ]:
# Merge crashes and vehicles data
def merge_data(df_crashes, df_vehicles):
    df = df_crashes.merge(right=df_vehicles, how='left', on='crash_record_id', suffixes=('_left', '_right'))
    return df

In [ ]:
# Rename columns for output data
def rename_columns(df):
    vehicle_mapping = {'vehicle_type': 'vehicletypes'}
    df = df.rename(columns=vehicle_mapping)
    return df

In [ ]:
def read_data_pipeline(crash_data, vehicle_crash_data):
    try:
        df_crash = read_data_sources(crash_data)
        df_vehicle = read_data_sources(vehicle_crash_data)
    except Exception as e:
        logging.info("Exception in reading data pipeline")
    
    return df_crash, df_vehicle

In [ ]:
def drop_null_cols_pipeline(df_crash, df_vehicle):
    try:
        drop_null_columns(df_crash)
        drop_null_columns(df_vehicle)
    except Exception as e:
        logging.info("Exception in dropping null columns pipeline")
        
    return df_crash, df_vehicle

In [ ]:
def drop_null_rows_pipeline(df_crash, df_vehicle):
    try:
        drop_null_rows(df_crash)
        drop_null_rows(df_vehicle)
    except Exception as e:
        logging.info("Exception in dropping null rows pipeline")
        
    return df_crash, df_vehicle

In [ ]:
def fill_missing_values_pipeline(df_crash, df_vehicle):
    try:
        df_crash = fill_missing_report_type(df_crash)
        df_vehicle = fill_missing_report_type(df_vehicle)
    except Exception as e:
        logging.info("Exception in filling missing report type pipeline")
        
    return df_crash, df_vehicle

In [ ]:
def merge_data_pipeline(df_crash, df_vehicle):
    try:
        df_merged = merge_data(df_crash, df_vehicle)
    except Exception as e:
        logging.info("Exception in merge data pipeline")
        
    return df_merged

In [ ]:
def format_data_pipeline(df_merged):
    try:
        df_output = rename_columns(df_merged)
    except Exception as e:
        logging.info("Exception in renaming data column pipeline")
        
    return df_output